.side-nav-bar {
  .side-nav-bar-wrapper {
    // margin-left: 3%;
    background-color: #B4FF9F;
    height: 100vh;
    @media screen and (max-width: 1200px) {
      width: 50%;
      z-index: 6;
      position: fixed;
    }
    .side-nav-bar-top {
      padding-top: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .side-nav-bar-title {
        font-size: 28px;
        font-weight: bold;
        color: #AB46D2;
      }
      .side-nav-bar-logo {
        margin-top: 20px;
        .logo-icoon {
          padding: 5px;
          font-size: 88px;
          background-color: #AB46D2;
          border-radius: 50%;
          color: #F9D923;
        }
      }
    }
    .side-nav-bar-middle {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 20%;
      margin-left: 15%;
      .side-nav-bar-items {
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        .link-icon{
          color: #333C83;
        }
        p{
          
        color: #333C83;
        }

        :hover {
          color: #EB5353;
        }
        .side-nav-links {
          display: flex;
          justify-content: center;
          color: #000;
          .link-icon {
            font-size: 30px;
            margin-right: 10px;
          }
        }
      }
    }
    .side-nav-bar-bottom {
      margin-top: 100%;
      .side-nav-bar-logout {
        display: flex;
        margin-left: 25%;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        .side-nav-links {
          display: flex;
          justify-content: center;
          color: #C70A80;
          .link-icon {
            font-size: 30px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
