.registration {
  padding-top: 10%;
  @media screen and (max-width: 400px) {
    padding-top: 60%;
  }
  .registration-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    @media screen and (max-width: 400px) {
      width: 30%;
    }
    .registration-details {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .registration-title {
        font-size: 24px;
        font-weight: bold;
      }
      .registration-inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        .registration-text-input {
          width: 350px;
          @media screen and (max-width: 400px) {
            width: 250px;
          }
          @media screen and (max-width: 300px) {
            width: 150px;
          }
        }
      }
      .registration-buttons {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .registration-buttons-bottom {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .registration-button {
            width: 120px;
          }
          p {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
