.user-profile {
  .user-profile-wrapper {
    display: flex;
    padding: 2%;
    height: 100vh;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
    }
    @media screen and (max-height: 700px) {
      height: auto;
    }

    .user-profile-left {
      position: fixed;
      width: 30%;
      height: 90%;
      flex: 2;
      margin-left: 3%;
      margin-top: 2%;
      background-color: #B4FF9F;
      @media screen and (max-width: 1000px) {
        position: inherit;
        margin-left: 0;
        width: 100%;
      }
      .user-profile-left-modal {
        .delete-confirmation-modal {
          .delete-confirmation-modal-msg {
            font-size: 32px;
            margin-left: 50px;
          }
        }
      }

      .user-profile-left-top {
        display: flex;
        justify-content: space-around;
        // flex-direction: column;
        // align-items: center;
        .user-profile-others {
          display: flex;
          flex-direction: column;
          align-items: center;
          .user-profile-left-top-title {
            font-size: 24px;
            font-weight: bold;
            margin-top: 2%;
            margin-bottom: 3%;
            color: #333C83;
          }
          .user-profile-left-top-avatar {
            img {
              width: 200px;
              height: 200px;
              border-radius: 50%;
            }
          }
        }
      }
      .user-profile-left-middle {
        margin-top: 10%;
        margin-left: 10%;
        .user-profile-left-middle-details {
          ul {
            li {
              list-style: none;
              display: flex;
              .profile-data-title {
                flex: 2;
                margin-right: 4%;
                margin-bottom: 5%;
                font-size: 18px;
                font-weight: 700;
              }
              .profile-data-value {
                font-size: 15px;
                flex: 3;
              }
            }
          }
        }
      }
      .user-profile-left-bottom {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-bottom: 10%;
        .botton-upper-buttons {
          margin-bottom: 3%;
          display: flex;
          justify-content: end;

          .user-profile-left-bottom-buttons-edit {
            margin-right: 10px;
          }
          .user-profile-left-bottom-buttons-cancle {
            margin-right: 10px;
          }
        }
        .bottom-buttons {
          display: flex;
          justify-content: space-between;
          .user-profile-left-bottom-buttons-reset {
            margin-right: 10px;
          }
          .user-profile-left-bottom-buttons-delete {
            margin-right: 10px;
          }
        }
      }
    }
    .user-profile-right {
      flex: 4;
      margin-top: 2%;
      margin-left: 35%;
      @media screen and (max-width: 1000px) {
        margin-left: 0;
      }
      .user-profile-right-top {
        margin-left: 10%;
        @media screen and (max-width: 1000px) {
          margin-left: 0;
        }
      }
    }
  }
}
