@import "~antd/dist/antd.css";

.app {
  background-color: #fff;
  width: 100%;
  height: auto;
  .app-wrapper {
    padding: 0px 20px 0px 0px;
    @media screen and (max-width: 1000px) {
      padding: 0;
    }
  }
}
